

.mission {
  width: 80vw;
  margin: 0 auto;
}
@media screen and (max-width: 540px) {
  .mission {
    width: 95vw;
  }
}

.image {
  position: relative;
  display: inline-block;
  left: 30vw;
  width: 40vw;
  height: 40vh;
}
@media screen and (max-width: 540px) {
  .image {
    top: 5vh;
    left: 2.5vw;
    width: 95vw;
    height: 95vh;
  }
}