.row {
  display: flex;
}

.rightTall {
  flex: 50%;
  position: relative;
  display: block;
  width: 50vw;
  height: calc(50vw * 9/8);
  margin: 3% 0;
}

.leftTall {
  flex: 50%;
  position: relative;
  display: block;
  width: 50vw;
  height: calc(50vw * 9/8);
  margin: 0;
}

.left {
  flex: 50%;
  position: relative;
  display: block;
  width: 50vw;
  height: calc(50vw * 23/35);
  margin: 3% 0;
}

.right {
  flex: 50%;
  position: relative;
  display: block;
  width: 50vw;
  height: calc(50vw * 23/35);
  margin: 0;
}