@font-face {
  font-family: Gelasio;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/gelasio/Gelasio-Regular.ttf") format("truetype");
}
@font-face {
  font-family: DejaVuSans;
  src: url("/fonts/dejavu-sans/ttf/DejaVuSansCondensed.ttf") format("truetype");
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 16pt;
  font-family: DejaVuSans, Verdana, sans-serif;
  margin-bottom: 107px;
  background-color: white;
  color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
a {
  color: inherit;
}
