.hero {
    display: flex;
}
.heroImg {
    flex: 50%;
    position: relative;
    height: calc(50vw * 721/1080);
    width: 50vw;
}
.heroBanner {
    flex: 50%;
}
@media (max-width: 540px) {
    .hero {
        display: block;
    }
    .heroImg {
        height: calc(98vw * 721/1080);
        width: 98vw;
    }
}
.cta {
    margin: 1%;
    border: 3px black dashed;
    background-color: yellow;
    color: black;
    font-size: 1.3em;
}
.cta:hover {
    border: 3px blue solid;
    background-color: blue;
    color: white;
}